/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.zestard_multipage_flexslider ul.slides li:before {
  display: none;
}

ul.flex-direction-nav li:before {
  display: none;
}

ul.flex-direction-nav li {
    padding: 0; 
    border: none;
}

.zestard_multipage_flexslider ul.slides li {
    padding: 0;
    border: none;
}

.zestard_multipage_flexslider .slides img {
  margin: 0;
}

section.slider.slider1 li a {
    border-bottom: none;
}

.flexslider a,.slider2 .flexslider a:hover {
    border: none;
}
/* ====================================================================================================================
 * END RESETS
 * ====================================================================================================================*/


.zestard_multipage_flexslider .slides li {
  position: relative;
  margin: 0 !important;
}
  #header-nav {
      z-index: 99999999;
  }
  .flex-caption {
      width: 100%;
      top: 10%;
      left: 0;
      color: #000;
      /*text-shadow: 0 -1px 0 rgba(0,0,0,.3); */
      
      font-size: 14px;
      line-height: 18px;
      position: absolute;
  }
  .slider2 .flex-caption {
      left: inherit;
      right: 0;
      width: 40%;
      text-align: left;
      background: rgba(104, 171, 194, 0.9);
      top: 35%;
      padding-bottom: 15px;      
  }
  .slider3 .flex-caption {
      background: rgba(73, 91, 110, 0.5);
      color: #ffffff;
      top: 0;
  }
  
  .slider4 .flex-caption {
		background: rgba(0, 0, 0, 0.27);
		color: #ffffff;
		top: 140px;
		text-align: center;
		text-shadow: 2px 1px 2px #000;
  }
  .slider2 .flex-caption > h2,
  .slider1 .flex-caption > h2,
  .slider4 .flex-caption > h2,
  .slider3 .flex-caption > h2 {
      font-size: 34px;
      text-transform: capitalize;
      line-height: 30px;
      text-align: left;
  }
   .slider3 .flex-caption > h2 {
		color: #fff;
	}
  li.css a {
      border-radius: 0;
  }
  
  .flex-caption > h2 {
      font-size: 20px;
      margin: 15px;
      padding: 0;
  }
  .slider3 .flex-control-paging.cslide li a.flex-active {
      background: #41A62A;
      color: #ffffff;
      border-top: 0;
      border-color: #41A62A;
  }
  .slider4 .flex-control-paging.cslide li a.flex-active  {		
      opacity: 1;
      border: 1px solid #777;
  }
  .slider3 .flex-control-nav, .slider4 .flex-control-nav {
      display: none;
  }
  .slider3 .flex-control-paging.cslide li a {
      width: 50px;
      height: 50px;
      border: 2px solid #000000;
      border-radius: 50%;
      overflow: hidden;
      padding: 0;
  }
  
  .slider4 .flex-control-paging.cslide li a {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0.4;
}
  
  .slider3 .flex-control-paging.cslide li a img,.slider4 .flex-control-paging.cslide li a img  {
      width: 100%;
      height: 100%;
  }
  .slider3 .flex-control-paging.cslide > li, .slider4 .flex-control-paging.cslide > li {
      float: none;
  }
  .slider3 .flex-control-paging.cslide {
      text-align: center;
  }
   .slider4 .flex-control-paging.cslide {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 999;
	}
  .flex-control-nav {
      bottom: 70px;
      right: 10px;
      position: absolute;
      text-align: center;
      margin-bottom: 0px !important;
  }
  .slider1 .flex-control-nav,
  .slider4 .flex-control-nav,
  .slider3 .flex-control-nav {
      width: 10%;
  }
  .readmoreLink {
      font-weight: bold;
      display: block;
      font-size: 12px;
      cursor: pointer;
  }
  .readMore {
      display: none;
  }
  .flexslider {
      overflow: hidden;
  }
  .flex-control-paging.cslide {
      list-style: outside none none;      
      clear: both;
      overflow: hidden;
  }
  .flex-control-paging.cslide > li {
      display: inline-block;
      margin: 0 6px;
      float: left;
  }
  .slider2 .flex-control-paging.cslide > li {
      float: right;
  }
  .slider2 .cslide {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
      padding: 16px;
  }
  .flex-control-nav li {
      display: inline-block;
      margin: 0 6px !important;
      padding: 0;
      float: left;
  }
  /* .flexslider .slides img {
      max-height: 500px;
  } */
  .flex-control-paging.cslide li a {
      background: transparent;
      border-radius: inherit;
      /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset; */
      
      cursor: pointer;
      display: block;
      height: auto;
      padding: 5px;
      text-indent: inherit;
      width: auto;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
  }
  .cslide a {
      color: #000;
      border-top: 5px solid #6b6b6b;
      font-size: 15px;
      text-transform: capitalize;
      text-decoration: none;
  }
  .slider2 .cslide a {
      border-top: 0;
  }
  .slider3 .cslide a, .slider4 .cslide a {
      border: 0;
  }
  .flex-control-paging.cslide li a.flex-active {
      border-color: #41A62A;
      text-decoration: none;
  }
  .slider2 .flex-control-paging.cslide li a.flex-active {
      border: 2px solid #000000;
      text-decoration: none;
      color: #000000;
  }
  .slider2 .flex-control-paging.cslide li a:hover {
      color: #000000;
  }
  .cslide .flex-active {
      text-decoration: underline;
  }
  .flex-direction-nav a {
      line-height: 1;
  }
  .flex-direction-nav li {
      margin: 0 !important;
  }
  .slider .flexslider ul {
      margin: 0;
      list-style: none;
  }
  .custom-red-alert {
      color: #a94442;
      background-color: #f2dede;
      padding: 15px;
      margin-bottom: 1rem;
      border: 1px solid #ebcccc;
      border-radius: .25rem;
  }
  /* Ronak Chauhan */
	.shopnow {
		left: 5%;
		display: block;
		position: absolute;
		top: 80%;
	}
  
  .flex-active-slide .shopnow a {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	line-height: 18px;
	display: block;
	padding: 15px 30px;
	background: #000000;
	border-radius: 5px;
  }
  .textContainer {
      font-size: 18px;
      line-height: 26px;
      margin: 15px;
  }
  .slider1 .textContainer {
      color: #190404;
  }
  .slider2 .textContainer {
      color: #ffffff;
  }
  #f86960.slider2 .flex-active-slide .shopnow {
      left: inherit;
      right: 1%;
  }
/*  .slider1 .flex-caption,
  .slider1 .cslide a:hover {
      color: #D40000;
  }*/
  .slider1 .flex-caption {
      background: rgba(245, 245, 245, 0.5);
      width: 40%;
  }
  .slider1 .flex-active-slide .shopnow a {
      background: #D40000;
  }
  .slider1 .flex-control-paging.cslide li a.flex-active {}.slider1 .flex-control-paging.cslide li a.flex-active {
      border-color: #D40000;
  }
  .slider2 .flex-control-paging li a {
      border-radius: 0;
  }
  .slider2 .flex-control-paging.cslide li a {
      color: #ffffff;
      font-weight: 600;
      border-bottom: none;

  }
  .slider2 .flex-active-slide .shopnow a {
      right: 1%;
      left: inherit;
      bottom: 10%;
      top: inherit;
  }
  .slider2 .flex-control-nav li {
      float: none;
      text-align: center;
  }
  .slider3 .flex-active-slide .shopnow a{
      color: #f9f9f9;
      background: rgb(73, 91, 110) none repeat scroll 0 0;
      border-radius: 20px;
      font-size: 18px;
  }
  
  .slider4 .flex-active-slide .shopnow a {
  color: #f9f9f9;
    background: rgba(0, 0, 0, 0.21);
    border-radius: 0;
    font-size: 18px;
    box-shadow: inset 1px 1px 2px #000;
    text-shadow: 2px 1px 2px #000;
  }
  .slider3 .flex-caption > h2, {
      color: #f9f9f9;
  }
  .slider4 .flex-caption > h2 {
      color: #f9f9f9;
      text-align:center;
  }
  .main h3 {
      color: #212721;
      display: inline-block;
      border-bottom: 2px solid #212721;
      padding-bottom: 5px;
  }
  .main h1 {
      color: #2b96f1;
  }
  .cms-multislider section.slider {
      border-bottom: 2px solid #2b96f1;
      margin-bottom: 50px;
  }
  section.slider.slider3 {
      border: 0;
  }
  .slider1 .flex-viewport {
      clear: both;
  }
  .slider1 .cslide {
      float: right;
  }
  /*****
	****Responsive Sliders
				*****/
  
  @media (max-width: 980px) {
      .std #bannersider .slider1 p {
          font-size: 20px;
          font-weight: normal;
      }
      .about-one .slider1 .slides li .flex-caption,
      .about-two .slider1 .slides li .flex-caption,
      .about-four .slider1 .slides li .flex-caption,
      .health-content .slider1 .slides li .flex-caption {
          background: #a6a6a6 none repeat scroll 0 0;
          bottom: 0;
          padding: 1%;
          position: unset !important;
          top: inherit;
          width: 100%;
      }
      .about-one .slider1 .slides li .flex-caption p,
      .about-two .slider1 .slides li .flex-caption p,
      .about-four .slider1 .slides li .flex-caption p,
      .health-content .slider1 .slides li .flex-caption p {
          text-align: center !important;
          color: #FFFFFF;
      }
      .about-one .slider1 .flex-caption h2,
      .about-two .slider1 .flex-caption h2,
      .about-four .slider1 .flex-caption h2,
      .health-content .slider1 .flex-caption h2 {
          color: #FFFFFF;
      }
      .slider2 .flex-control-paging.cslide li a {
          font-weight: 100;
      }
  }
  @media screen and (min-width: 768px) {
      .res-content {
          display: none;
      }
  }
  @media (max-width: 899px) {
      ul#navmenu li {
          padding-right: 0 !important;
      }
  }
  @media (max-width: 800px) {
      #topnav .topnav {
          z-index: 100;
      }
  }
  @media (max-width: 768px) {
      .std #bannersider .slider1 p {
          font-size: 18px;
      }
      .cms-health .bu-main-block h2.main-title::after {
          border-top: 31px solid rgba(0, 0, 0, 0.75);
      }
      .cms-health .bu-main-block h2.main-title {
          font-size: 19px !important;
      }
  }
  @media screen and (max-width: 767px) {
      .deskcontent {
          display: none;
      }
      .res-content {
          display: block;
          font-size: 11px;
      }
.zestard_multipage_flexslider .slides img {
  height: auto !important;
}
      .slider2 .flex-caption > h2,
      .slider4 .flex-caption > h2,
      .slider1 .flex-caption > h2,
      .slider3 .flex-caption > h2 {
          font-size: 22px;
      }
      .slider1 .flex-control-nav,
      .slider4 .flex-control-nav,
      .slider3 .flex-control-nav {
          width: 20%;
      }
      .flex-caption > h2 {
          margin: 5px;
      }
      .cslide {
          display: none;
      }
  }
  @media screen and (max-width: 639px) {
      .cslide a {
          font-size: 12px;
      }
      .flex-active-slide .shopnow a {
          padding: 10px 20px;
          font-size: 18px;
          top: 65%;
      }
      .slider1 .flex-caption {
          width: 70%;
      }
  }
  @media screen and (max-width: 440px) {
      .slider2 .flex-caption > h2,
      .slider1 .flex-caption > h2,
      .slider4 .flex-caption > h2,
      .slider3 .flex-caption > h2 {
          font-size: 14px;
      }
      .cslide a {
          font-size: 11px;
      }
      .flex-active-slide .shopnow a {
          padding: 6px 10px;
          font-size: 15px;
      }
      .slider1 .flex-control-nav,
      .slider4 .flex-control-nav,
      .slider3 .flex-control-nav {
          width: 25%;
      }
      .slider2 .flex-control-paging.cslide > li {
          float: left;
      }
  }
  @media (max-width: 360px) {
      .std #bannersider .slider1 p {
          font-size: 15px;
          line-height: 20px;
      }
      .cms-health .bu-main-block h2.main-title::after {
          border-top: 27px solid rgba(0, 0, 0, 0.75);
      }
      .cms-health .bu-main-block h2.main-title {
          font-size: 16px !important;
      }
      .cms-about-us .slider1 .flex-caption h2::before {
          display: none;
      }
      .cms-about-us .slider1 .flex-caption h2::after {
          display: none;
      }
      .cms-about-us .slider1 .flex-caption h2 {
          font-size: 17px;
      }
      .cms-about-us .slider1 .flex-caption p span {
          font-size: 17px !important;
          font-weight: normal !important;
      }
  }
  @media (max-width: 360px) {
      .std #bannersider .slider1 p {
          font-size: 15px;
          line-height: 20px;
      }
  }
  @media (max-width: 320px) {
      .about-one .slider1 .slides li .flex-caption,
      .about-two .slider1 .slides li .flex-caption,
      .about-four .slider1 .slides li .flex-caption,
      .health-content .slider1 .slides li .flex-caption {
          background: #a6a6a6 none repeat scroll 0 0;
          bottom: 0;
          padding: 1%;
          position: relative !important;
          top: inherit;
          width: 100%;
      }
      .flexslider .slides img {
          height: inherit;
      }
      .flexslider .slides img {
          height: 100% !important;
      }
  }
  /*=========Custom css===========================*/
  
  .std ol {
      padding: 0;
  }
