/*@import url(https://fonts.googleapis.com/css?family=Lora:700italic);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
html, body {
    	height: 100%;
    }

.alert>p {
  font-family: 'Bitter', serif;
  font-size: 15px;
}

#wrap {
  min-height: 100%;
  position: relative;
  padding: 0 0 60px 0;
  margin-bottom: -40px;
}

#footer {
  background: #fff;
  padding: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 12px;
  font-family: arial;
}
body {
  padding-bottom: 30px;
}
.navbar-nav li {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}
.inbox th {
  background: #f5f5f5;
  white-space: nowrap;
}
.inbox td {
  color: #494949;
}
.inbox a:link, .inbox a:visited {
  color: #428bca;
  text-decoration: none;
}
h1 {
  font-size: 24px;
  line-height: 1em;
  margin: 0 0 20px 0;
}
.form-group {
  margin-bottom: 25px;
}
.form-group label {
  margin-bottom: 10px;
}
.form-actions {
  background: #f5f5f5;
  padding: 20px;
}
.button_style {
  clear: left;
  padding-bottom: 20px;
  overflow: auto;
}
.button_style .radio {
  width: 25px;
  float: left;
}
.button_style .example {
  width: 450px;
  float: left;
}
.go-back {
  background: no-repeat url(../images/icons.png) 0 -110px;
  width: 120px;
  padding-left: 22px;    
  background-position-x: -1px;
  background-position-y: -110px;
  float: right;
}
a.go-back-a {
    text-decoration: none;
    font-size: 16px;
}

.showCodeWrapper {
    position: relative;
}
.copyMe {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    border-radius: 0px 0px 0px 3px;
    padding: 5px;
}

label span {
    font-weight: normal;
}

#shopify-show .form-control[readonly], #seoshop-success .form-control[readonly], #ecwid-show .form-control[readonly], #ecwid-callback .form-control[readonly] {
    cursor: text;
}

textarea.short-code {
  background-color: #31373D !important;
  opacity: 1;
  color: #ddd;  
  width: 100%;  
  display: block;
}

.controls select {
    padding: 6px;
    width: 100px;
}

.action-class:after {
  display: none !important;
}

.info-head {
  background-color: rgba(0, 120, 189, 0.64);
  font-size: 24px;
  padding: 5px;
  color: #fff;
}
.custom-form-design {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.alert.alert-info a {
    text-decoration: none;
}

#imagemodal .modal-dialog {
	width: 60%;
}
.slider {
	color: #f9f9f9;
	background: rgba(92, 106, 196, 0.8);
	border-radius: 0;
	font-size: 18px;
	box-shadow: inset 1px 1px 2px #000;
	text-shadow: 2px 1px 2px #000;
	width: auto;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}
.slider:hover {
	box-shadow: none;
	background-color: black;
}
.slider-demo {
	margin: 10px 0 25px 0;
}
#imagemodal .modal-content {						
	background-color: transparent;
	border: none;
	box-shadow: none;
}
#imagemodal button.close {						
	padding: 0;
	cursor: pointer;
	background-color: #fff;
	padding: 0 10px;						
}
/*------------HELP----------*/
.development-center {
  margin-bottom: 10px;
  display: block;
}

ul.benefits {
  padding-left: 20px !important;
}

.set-padding {
  padding-left: 40px;
  display: block;
}

.custom-fonts {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}